In [48]:
import pandas as pd
import numpy as np

df_customer_data = pd.read_csv('../data-source/2021/2nd term/customer-export-10012022-072818-61dbe012.csv')
df_customer_item_details = pd.read_csv('../data-source/2021/2nd term/Report Item Details - 26-04-2021 - 25-12-2021 - Outlet_Sitisonya - 088f3fbb.csv')
df_customer_transactions = pd.read_csv('../data-source/2021/2nd term/Report Transaction - 26-04-2021 - 25-12-2021 - Outlet_Sitisonya - c0929211.csv')

In [51]:
df_customer_data['Member Since'] = pd.to_datetime(df_customer_data['Member Since'],format='%d-%m-%Y')
df_customer_data['Last Visit'] = pd.to_datetime(df_customer_data['Last Visit'],format='%d-%m-%Y')
df_customer_data['revisit'] = np.where(df_customer_data['Member Since'] == df_customer_data['Last Visit'],True,False )

grouped_period_sex =  df_customer_data.groupby([df_customer_data['Member Since'].dt.year.rename('year'), df_customer_data['Member Since'].dt.month.rename('month'), df_customer_data['Sex'],df_customer_data['revisit']],dropna=False).agg({'count'})
grouped_period_sex

                             Name Email Phone Birthday Address  City State  \
                            count count count    count   count count count
year   month Sex    revisit
2021.0 4.0   female False       4     0     4        0       0     0     0
                    True        6     0     6        0       0     0     0
             male   False       7     0     7        0       0     0     0
                    True        8     0     8        0       0     0     0
             NaN    False       4     0     4        0       0     0     0
...                           ...   ...   ...      ...     ...   ...   ...
2022.0 1.0   NaN    False       1     0     1        0       0     0     0
                    True       29     0    29        0       0     0     0
NaN    NaN   female False      41     0    41        0       0     0     0
             male   False      60     1    59        0       0     0     0
             NaN    False     170     0   171        0       0     0     0

                            Zip Code Customer Since Last Visit  \
                               count          count      count
year   month Sex    revisit
2021.0 4.0   female False          0              4          4
                    True           0              6          6
             male   False          0              7          7
                    True           0              8          8
             NaN    False          0              4          4
...                              ...            ...        ...
2022.0 1.0   NaN    False          0              1          1
                    True           0             29         29
NaN    NaN   female False          0             41         12
             male   False          0             60         15
             NaN    False          0            171         95

                            Total # of orders Amount This Month  \
                                        count             count
year   month Sex    revisit
2021.0 4.0   female False                   4                 0
                    True                    6                 0
             male   False                   7                 0
                    True                    8                 0
             NaN    False                   4                 0
...                                       ...               ...
2022.0 1.0   NaN    False                   1                 1
                    True                   29                29
NaN    NaN   female False                  41                 0
             male   False                  60                 0
             NaN    False                 171                 1

                            Amount This Year Amount Lifetime Amount Average  \
                                       count           count          count
year   month Sex    revisit
2021.0 4.0   female False                  0               4              4
                    True                   0               6              6
             male   False                  0               7              7
                    True                   0               8              8
             NaN    False                  0               4              4
...                                      ...             ...            ...
2022.0 1.0   NaN    False                  1               1              1
                    True                  29              29             29
NaN    NaN   female False                  0              12             12
             male   False                  0              15             15
             NaN    False                  1              95             92

                            Member Since Current Point Balance  \
                                   count                 count
year   month Sex    revisit
2021.0 4.0   female False              4                     4
                    True               6                     6
             male   False              7                     7
                    True               8                     8
             NaN    False              4                     4
...                                  ...                   ...
2022.0 1.0   NaN    False              1                     1
                    True              29                    29
NaN    NaN   female False              0                     0
             male   False              0                     0
             NaN    False              0                     0

                            Reward Redeemed Member Spending
                                      count           count
year   month Sex    revisit
2021.0 4.0   female False                 1               4
                    True                  0               6
             male   False                 0               7
                    True                  0               8
             NaN    False                 0               4
...                                     ...             ...
2022.0 1.0   NaN    False                 0               1
                    True                  0              29
NaN    NaN   female False                 0               0
             male   False                 0               0
             NaN    False                 0               0

[62 rows x 19 columns]

In [50]:
df_customer_data

,Name,Email,Phone,Birthday,Sex,Address,City,State,Zip Code,Customer Since,...,Total # of orders,Amount This Month,Amount This Year,Amount Lifetime,Amount Average,Member Since,Current Point Balance,Reward Redeemed,Member Spending,revisit
0,NaN,NaN,6.285878e+14,NaN,NaN,NaN,NaN,NaN,NaN,28-04-2021,...,0,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,False
1,aan,NaN,6.285161e+12,NaN,NaN,NaN,NaN,NaN,NaN,04-01-2022,...,1,44000.0,44000.0,44000.0,44000.0,2022-01-04,3.0,NaN,44000.0,True
2,abad,NaN,6.281380e+12,NaN,male,NaN,NaN,NaN,NaN,28-04-2021,...,0,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,False
3,abdiel,NaN,6.287738e+12,NaN,NaN,NaN,NaN,NaN,NaN,28-04-2021,...,0,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,False
4,abdulah,NaN,6.285206e+12,NaN,male,NaN,NaN,NaN,NaN,04-06-2021,...,1,NaN,NaN,22000.0,22000.0,2021-06-04,2.0,NaN,22000.0,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1447,zohan,NaN,6.281380e+12,NaN,male,NaN,NaN,NaN,NaN,03-05-2021,...,1,NaN,NaN,22000.0,22000.0,2021-05-03,2.0,NaN,22000.0,True
1448,zulfa,NaN,6.289607e+12,NaN,female,NaN,NaN,NaN,NaN,20-06-2021,...,2,NaN,NaN,114000.0,57000.0,2021-06-20,6.0,NaN,114000.0,True
1449,Zulfa,NaN,6.285641e+12,NaN,female,NaN,NaN,NaN,NaN,28-07-2021,...,1,NaN,NaN,22000.0,22000.0,2021-07-28,2.0,NaN,22000.0,True
1450,zulfa,NaN,6.285943e+12,NaN,female,NaN,NaN,NaN,NaN,13-09-2021,...,1,NaN,NaN,49000.0,49000.0,2021-09-13,3.0,NaN,49000.0,True
1451,Zulita,NaN,6.289607e+12,NaN,female,NaN,NaN,NaN,NaN,07-06-2021,...,1,NaN,NaN,22000.0,22000.0,2021-06-07,2.0,NaN,22000.0,True